{% extends "base.html" %}
{% load static %}

        
{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% comment %} <div class="main-content">
                        {%if not user.is_authenticated%}
                        <button type="button" class="btn btn-outline-secondary"><a style="color:white;" href="{%url 'user_login'%}">LOGIN</a></button> 
                        {% endif %}
                    </div> {% endcomment %}
                    <div class="main-content">
                        {%if not user.is_authenticated%}
                        <button type="button" class="btn btn-outline-secondary"><a style="color:white;" href="{%url 'user_login'%}">CREATE EVENT</a></button> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

<!-- *** Coming Events Section ***-->
<div class="coming-events">
    <div class="container">
        <div class="row">
            {% for event in events %}
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <!-- Display the event image if available -->
                        {% if event.image %}
                            <img src="{{ event.image.url }}" alt="{{ event.event_name }} - Event Image" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="down-content">
                        <a href="{% url 'ticket_detail' event.id %}">
                            <h4>{{ event.event_name }}</h4>
                        </a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{ event.event_startdate|date:"l: H:i" }} - {{ event.event_enddate|date:"H:i" }}</li>
                            <li><i class="fa fa-map-marker"></i> 
                                {% if event.line1 and event.city and event.state %}
                                    {{ event.line1 }}, {{ event.city }}, {{ event.state }}
                                {% else %}
                                    Location details unavailable
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No events found.</p>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}