{% extends "base.html"%}
{% load static %}

{% block content %}

<!-- ***** Events ***** -->
<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Sports Events</h2>
                <span>Check out upcoming and past Sports events.</span>
            </div>
        </div>
    </div>
</div>

<div class="shows-events-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-8">
                                    <ul>
                                        <li><a href='#tabs-1'>Upcoming</a></li>
                                        <li><a href='#tabs-2'>Past</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <div class="main-dark-button">
                                        <a href="{% url 'ticket_details' %}">Purchase Tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="heading"><h2>Upcoming Events</h2></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="sidebar">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-sidebar">
                                                        <h4>Sort The Upcoming Shows & Events By:</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="month">
                                                        <h6>Month</h6>
                                                        <ul>
                                                            <li><a href="#">July</a></li>
                                                            <li><a href="#">August</a></li>
                                                            <li><a href="#">September</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="category">
                                                        <h6>Category</h6>
                                                        <ul>
                                                            <li><a href="#">Pop Music</a></li>
                                                            <li><a href="#">Rock Music</a></li>
                                                            <li><a href="#">Hip Hop Music</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            {% for event in upcoming_events %}
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>{{ event.event_name }}</h4>
                                                                <p>{{ event.event_description }}</p>
                                                                <div class="main-dark-button"><a href="{% url 'event_detail' event.id %}">Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb">
                                                                <img src="{{ event.image.url }}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>{{ event.event_startdate|date:"M d D" }}<br>{{ event.event_startdate|date:"h:i A" }} - {{ event.event_enddate|date:"h:i A" }}</h6>
                                                                    </li>
                                                                    {% comment %} <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>{{ event.location }}</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
                                                                        <span>{{ event.attendees }} Total Guests Attending</span>
                                                                    </li> {% endcomment %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-2'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="heading"><h2>Past Events</h2></div>
                                    </div>
                                    <div class="col-lg-9 offset-lg-3">
                                        <div class="row">
                                            {% for event in past_events %}
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>{{ event.event_name }}</h4>
                                                                <p>{{ event.event_description }}</p>
                                                                <div class="main-dark-button"><a href="{% url 'event_detail' event.id %}">Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb">
                                                                <img src="{{ event.image.url }}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>{{ event.event_startdate|date:"M d D" }}<br>{{ event.event_startdate|date:"h:i A" }} - {{ event.event_enddate|date:"h:i A" }}</h6>
                                                                    </li>
                                                                    {% comment %} <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>{{ event.location }}</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
                                                                        <span>{{ event.attendees }} Total Guests Attending</span>
                                                                    </li> {% endcomment %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}
