{% extends "base.html" %}
{% load static%}
{% block content %}

<!-- ***** Tickets Page ***** -->

<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tickets On Sale Now!</h2>
                <span>Check out upcoming and past shows & events and grab your ticket right now.</span>
            </div>
        </div>
    </div>
</div>

<div class="tickets-page">
    <div class="container">
        <div class="row">
            {% comment %} <div class="col-lg-12">
                <div class="search-box">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="search-heading">
                                    <h4>Sort The Upcoming Shows & Events By:</h4>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <select name="month">
                                            <option value="month">Month</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select name="location">
                                            <option value="location">Location</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Europe">Europe</option>
                                            <option value="US">US</option>
                                            <option value="Asia">Asia</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select name="price">
                                            <option value="price">Price in INR</option>
                                            <option value="min">0 - 100</option>
                                            <option value="standard">100 - 500</option>
                                            <option value="high">500 - 1000</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> {% endcomment %}
            <div class="col-lg-12">
                <div class="heading">
                    <h2>Tickets</h2>
                </div>
            </div>

            <!-- Loop through the tickets -->
            {% for event in events %}
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <img src="{{ event.image.url }}" alt="Event Image">
                    </div>
                    <div class="down-content">
                        <a href="{% url 'ticket_details' event.id %}">
                            <h4>{{ event.event_name }}</h4>
                        </a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{ event.event_startdate|date:"l: H:i" }} - {{ event.event_enddate|date:"H:i" }}</li>
                            <li><i class="fa fa-map-marker"></i> {{ event.line1 }}, {{ event.city }}, {{ event.state }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>


{% endblock content %}