{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <section class="container">
        <div class="title">Create an Account</div>
        <div class="content">
            <form method="POST" action="{{ user_register }}">
                {% csrf_token %}

                <div class="user-details">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>  <!-- For error messages -->
                        {% endfor %}
                    {% endif %}
                
                    <div class="input-box">
                        <span class="details">User Type</span>
                        <select name="usertype" id="usertype" required>
                            <option value="">Select User Type</option>
                            <option value="Customer">Customer</option>
                            <option value="Event_organizer">Event Organizer</option>
                        </select>
                    </div>

                    <div class="input-box">
                        
                    </div>

                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" name="first_name" id="first_name" placeholder="Your First Name" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" id="last_name" name="last_name" placeholder="Your Last Name" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" id="username" name="username" placeholder="Choose a Username" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Email Address</span>
                        <input type="email" id="email" name="email" placeholder="Your Email" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="number" id="mobile_no" name="mobile_no" placeholder="Your Phone Number" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Date of Birth</span>
                        <input type="date" id="date_of_birth" name="date_of_birth" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" id="password" name="password" placeholder="Create a Password" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Repeat Password" required>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Register">
                </div>

                <p class="text-center">Already have an account? <a href="{% url 'user_login' %}">Sign In</a></p>
            </form>
        </div>
    </section>
</body>
